* {
  margin: 0;
  padding: 0;
}
button {
  width: 100%;
  padding: 1.25rem 0.5rem;
  margin: 2px;
  border: 0;
  border-radius: 5px;
  font-size: 1.25rem;
}
button:hover {
  cursor: pointer;
}
#calculator {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 0.25rem 0;
  border-radius: 10px;
  background-color: black;
}
@media only screen and (min-width: 351px) {
  #calculator {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
  }
}
#display, #keypad {
  width: 95%;
}
#display {
  margin: 2px;
  border-radius: 5px;
  background-color: white;
}
#display span {
  font-size: 2rem;
  float: right;
  padding: 5px;
}
.row {
  display: flex;
}
.row:last-child button {
  width: 25%;
}
.row button {
  background-color: white;
}
.row button:last-child {
  background-color: orange;
}
.row:last-child button:first-child {
  width: 50%;
}
.row:first-child button {
  background-color: lightblue;
}
.row:first-child button:last-child {
  background-color: orange;
}

